
/* ****************** CAMERA ********************** */
.camera-container {
    top: 10%;
    left: 7%;
    position: absolute;
    width: 371px;
    height: 399px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: whitesmoke;
    border-radius: 10px;
}

.video {
    min-height: 70%;
    width: 100%;
}

.rec_and_cap_container {
    min-height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color:slategrey;
}

.recordIcon,
.captureIcon
 {
    height: 100%;
}

#capture,
#record {
    height: 60%;
    width: 5%;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

/* style of navBar */
.navBar {
    min-height: 10%;
    background-color: slategrey;
    border: 2px solid black;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}





.recorded-video {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 10px;
}



.captured-image {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 10px;
}