.gallery-container {
    top: 10%;
    left: 7%;
    position: absolute;
    height: 70vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.gallery-navBar {
    min-height: 10%;
    background-color: slategrey;
    border: 2px solid black;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

/* Gallery mea jo images aaur video ka ratai wo sabsea bara wala container, aaur recycle bin mea jaha mea delteed images,video ko raktai, wo sabsea bara wala ccontainer ka stylnig */
.img-vid-container {
    flex-grow: 1;
    overflow: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    flex-basis: 0;
    background-color: whitesmoke
}

/* Recorded vid and captured image ka container , jiska ander butons log hea ,, SO Recycle bin ka b dal diya yaha mea*/
.recorded-video-container, .captured-image-container ,.recycledMediaContainer {
    margin: 10px;
    max-width: 200px;
    max-height: 200px;
    display: inline-block;
    position: relative;
}

/* Recorded video and image ka ander wala video andimage respectively, recycle bin ka b dal diya */
.recorded-video-container video, .captured-image-container img ,.recycledMediaContainer img, .recycledMediaContainer video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.recorded-video-container video , .recycledMediaContainer video{
    aspect-ratio: 1 / 1; /*video has default height,width ratio so thats, to matintain the same we have to give this */
}


.recorded-video-container {
    position: relative;
    display: inline-block;
    margin: 10px;
    flex-grow: 1;
}
.captured-image-container ,.recycledImageContainer{
    display: inline-block;
    margin: 10px;
    text-align: center;
    position: relative;
} 


.delete-button {
    position: absolute;
    top: 200px;
    left: 63px;
    background-color: #ff4757;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    width: 50px;
    height: 25px;
}
.delete-button:hover {
    background-color:darkred;
    border: 2px solid black;
}