
/* *************** GALLERY ******************* */
.gallery-container {
    position: absolute;
    height: 70vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.gallery-navBar {
    min-height: 10%;
    background-color: slategrey;
    border: 2px solid black;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.close-gallery {
    height: 60%;
    width: 5%;
    border-radius: 50%;
}

.minimize-gallery {
    background-color: #2ed573;
}

.close-gallery {
    background-color: #ff4757;
}

