.recycle-container {
    position: absolute;
    height: 70vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 10px;

}

.recycle-navBar {
    min-height: 10%;
    background-color: slategrey;
    border: 2px solid black;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}



.recycled-images-vids {
    flex-grow: 1;
    overflow: auto;
    /* padding: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: row;
    flex-basis: 0;
    background-color: whitesmoke;
}

.recycleMediaContainer {
    margin: 10px;
    max-width: 200px;
    max-height: 200px;
    display: inline-block;
    position: relative;
    float: right;
}

.recycleMediaContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.recycle-btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.recycleRestoreBtn, .recycleDeleteBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.recycleRestoreBtn {
    background-color: #2ed573;
}

.recycleDeleteBtn {
    background-color: #ff4757;
    margin-left: 10px;
}

.recycleRestoreBtn:hover {
    background-color: #07642e;
    border: 2px solid black;
}

.recycleDeleteBtn:hover {
    background-color: #881515;
    border: 2px solid black;
}