
/* Default z-index for all containers */
.camera-container,.gallery-container,
.recycle-container {
    /* position: relative; */
    z-index: 1;
    transition: z-index 0.2s ease; /* Optional: smooth transition */
}

/* Increase z-index on hover */
.camera-container:hover,.gallery-container:hover,
.recycle-container:hover {
    z-index: 10; /* or any higher value */
}
