main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

.display-time {
    height: 100px;
    width: 500px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    font-size: 5rem;
}

footer {
    height: calc(100vh - 90vh);
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* border: 2px solid black; */
}


button {
    transition: transform 0.7s ease-in-out;
}

button:hover {
    /* transform: rotate(360deg); */
}

/* ******************* COMMON*********************** */


/* ****************** CAMERA ********************** */
.camera-container {
    top: 0;
    left: 0;
    position: absolute;
    height: 60vh;
    width: 50vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.video {
    min-height: 70%;
    width: 100%;
    background-color: #2e92d5;
}

.rec_and_cap_container {
    min-height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.recordIcon,
.captureIcon {
    height: 100%;
}

#capture,
#record {
    height: 60%;
    width: 5%;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    /* transform-origin: center;  */
}

/* style of navBar */
.navBar {
    min-height: 10%;
    background-color: slategrey;
    border: 2px solid black;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.minimize,
.close {
    height: 60%;
    width: 5%;
    border-radius: 50%;
}

.minimize {
    background-color: #2ed573;
}

.close {
    background-color: #ff4757;
}

.recorded-video-container {
    position: relative;
    display: inline-block;
    margin: 10px;
    
}

.recorded-video {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.captured-image-container {
    display: inline-block;
    margin: 10px;
    text-align: center;
    position: relative;
}

.captured-image {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 10px;
}


.delete-button {
    position: absolute;
    bottom: 0;
    left: 0; /* Changed from 50% to 0 */
    background-color: #ff477e;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.delete-button:hover {
    background-color:darkred;
}
/* *************** GALLERY ******************* */
.gallery-container {
    position: absolute;
    height: 70vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.gallery-navBar {
    min-height: 10%;
    background-color: slategrey;
    border: 2px solid black;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.close-gallery {
    height: 60%;
    width: 5%;
    border-radius: 50%;
}

.minimize-gallery {
    background-color: #2ed573;
}

.close-gallery {
    background-color: #ff4757;
}

.image-container {
    height: 90%;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;

    background-color: whitesmoke;
}

/* **************** RECYCLE BIN ******************* */
.recycle-container {
    position: absolute;
    height: 70vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.recycle-navBar {
    /* min-height: 10%;  */
    background-color: slategrey;
    border: 2px solid black;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.minimize-recycle,
.close-recycle {
    height: 60%;
    width: 5%;
    border-radius: 50%;
}

.minimize-recycle {
    background-color: #2ed573;
}

.close-recycle {
    background-color: #ff4757;
}

.recycle-images {
    height: 90%;
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;

    background-color: whitesmoke;
}

.recycle-text {
    text-align: center;
    width: 70%;
}

/* ********** WALLPAPER ************ */
main {
    background-image: url('./icons/wallpaper1.jpg.jpeg');
    background-size: cover;
    background-position: center;
}